.menu {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu div {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.menu h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
.item {
  background-color: #f780002f;
  width: 15vw;
  height: 20vw;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 4px 3px #5050506b;
}

.item img {
  padding: 50px 30px 0 30px;
  width: 70%;
  height: 55%;
}

.item-name {
  position: absolute;
  top: 20px;
  background-color: #f8445920;
  padding: 5px;
  border-radius: 0 10px 10px 0;
  font-size: 16px;
}
.item-price {
  position: absolute;
  bottom: 20px;
  right: 0;
  background-color: #f8445920;
  border-radius: 10px 0 0 10px;
  padding: 5px;
  font-size: 22px;
}

@media (max-width: 932px) {
  .menu {
    padding-top: 50px;
    padding-right: 10px;
  }

  .menu div {
    display: flex;

    flex-direction: row;
    gap: 10px;
  }

  .item {
    width: 20vw;
    height: 12vh;
  }

  .item img {
    padding: 35px 5px 50px 5px;
    width: 70%;
    height: 55%;
    object-fit: cover;
    z-index: 9;
  }

  .item-name {
    top: 5px;
    background-color: #f8445936;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    font-size: 10px;
  }

  .item-price {
    bottom: 5px;
    border-radius: 5px 0 0 5px;
    padding: 2px;
    font-size: 12px;
  }
}
