/* Style de la sidebar */
.sidebar {
  padding-top: 10vw;
  background-color: #d62828;
  width: 20vw;
  height: 100%;
  position: fixed;
  z-index: 2;
}

.scroll-container {
  width: 80%;
  padding: 10px;
  margin: 15px;
  margin-top: 12vw;
  height: auto;
  max-height: 100%;
  background-color: #fcedd5f6;
  overflow-y: scroll;
  z-index: 4;
  gap: 10px;
  border-radius: 10px;
  padding-top: 20px;
}

.scroll-containe::-webkit-scrollbar {
  display: none;
}
.sidebar-scroll {
  display: flex;
  justify-content: space-between;
}
.button {
  width: 30px;
}
.button:hover {
  background-color: #bc2929a4;
}
.cart-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-controls button {
  background-color: #d62828;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-controls button:hover {
  background-color: #961a1a;
}

.sidebar h2 {
  padding-left: 10px;
  font-size: 28px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.button-x {
  background-color: black;
  color: #fcedd5f6;
}
.total {
  display: flex;
  justify-content: center;
  align-items: center;
}
