/* Style de la sidebar */
.sidebar {
  padding: 5vw 2vh;
  background-color: #d62828;
  width: 20vw;
  height: 100%;
  position: fixed;
  z-index: 2;
}

.scroll-container {
  width: 80%;
  padding: 10px 20px;
  margin: 15px auto;
  margin-top: 2vw;
  max-height: 350px;
  background-color: #fcedd5;
  overflow-y: auto;
  z-index: 4;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scroll-containe::-webkit-scrollbar {
  display: none;
}
.sidebar-scroll {
  display: flex;
  justify-content: space-between;
}

.cart-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-controls button {
  background-color: #d62828;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-controls button:hover {
  background-color: #961a1a;
}

.sidebar h2 {
  padding-left: 10px;
  font-size: 28px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cart-controls .button-x {
  background-color: black;
  color: #fcedd5f6;
}
.total {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
